
/* this currently does not work */
body,html {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    color: white;
    text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Black Ops One', cursive;
    
}

#bigHeader {
    font-size:80px;
}
#narration {
font-size: 20px;
}

.characterTile {
    color: black;
}

.yc {
    background-color: green;
}

.enemy {
    background-color: red;
}

.card-header {
    font-size: 30px;
}




